      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 60%;
      }
      /* Optional: Makes the sample page fill the window. */


#canada{
}
#navigation{
    text-align: center;
}
#information{
    float:left;
    margin: 20px;
    height:30%
}
#stats{


    
    float: right;

}


#total{
    display: inline-block;
}
#regionLinks div{
    display: inline-block;
    max-height:  100px;
    max-width: 50%;

}

.button{

    
    margin: 10px;
    padding: 20px;
    background-color: rgb(19, 19, 19);
    color: honeydew;

    

}

.stat{
    display: inline-block;
    vertical-align:top;


    margin: 10px;
    padding: 10px;
    background-color: rgb(19, 19, 19);
    color: honeydew;
    width: 200px;
    height: 185px;

}

.stat:hover {
    background-color: rgb(65, 65, 65);
}

#navigation{
    height: 30%;
}

.regionName{
    padding: 10px;
    height: 84px;
}

.regionStats{
    
}